## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
sample_list_1 = random.sample(range(100), 80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
set1 = set(sample_list_1)

print(len(set1) == len(sample_list_1))

True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [11]:
sample_list_2 = []

for i in range(0, 80):
    sample_list_2.append(random.randrange(0, 100))
    
print(sample_list_2)

[53, 32, 79, 60, 51, 55, 91, 27, 94, 67, 53, 45, 7, 11, 58, 71, 9, 82, 91, 61, 37, 36, 85, 30, 1, 44, 47, 33, 42, 89, 3, 10, 7, 34, 65, 5, 2, 55, 60, 9, 98, 17, 84, 59, 84, 38, 90, 88, 52, 40, 85, 14, 67, 60, 69, 38, 32, 30, 88, 3, 16, 88, 58, 22, 61, 39, 9, 74, 86, 17, 11, 9, 41, 69, 94, 72, 58, 18, 17, 30]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [12]:
set2 = set(sample_list_2)

print(len(set2) == len(sample_list_2))

False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [13]:
set3 = set1 - set2

print(set3)

{0, 4, 6, 12, 13, 15, 19, 21, 23, 24, 25, 26, 28, 29, 31, 35, 43, 46, 48, 49, 54, 56, 57, 62, 63, 66, 68, 70, 75, 76, 77, 80, 93, 95, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
set4 = set2 - set1

print(set4)

{2, 69, 38, 40, 9, 53, 86, 89, 59}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [16]:
set5 = set1.intersection(set2)

print(set5)

{1, 3, 5, 7, 10, 11, 14, 16, 17, 18, 22, 27, 30, 32, 33, 34, 36, 37, 39, 41, 42, 44, 45, 47, 51, 52, 55, 58, 60, 61, 65, 67, 71, 72, 74, 79, 82, 84, 85, 88, 90, 91, 94, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [18]:
set6 = set()

print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [19]:
set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 74, 75, 76, 77, 79, 80, 82, 84, 85, 88, 90, 91, 93, 94, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [20]:
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [23]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [25]:
agg345 = set3.union(set4, set5)
agg12 = set1.union(set2)

print(agg345 == agg12)

True

#### Using the `pop` method, remove the first element from `set1`.

In [26]:
# There is no definition of 'first element' to sets - an arbitrary element will be poped

set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [27]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

print('Before', set1)

for item_to_remove in list_to_remove:
    if(item_to_remove in set1):
        set1.remove(item_to_remove)
        
print('After', set1)

Before {1, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 74, 75, 76, 77, 79, 80, 82, 84, 85, 88, 90, 91, 93, 94, 95, 96, 97, 98}
After {3, 4, 5, 6, 7, 10, 12, 13, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 42, 43, 44, 45, 46, 47, 48, 52, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 70, 72, 74, 75, 76, 77, 80, 82, 84, 85, 88, 90, 93, 94, 95, 96, 97, 98}